<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DentalCareDBEntities" connectionString="metadata=res://*/DentalCareDBModel.csdl|res://*/DentalCareDBModel.ssdl|res://*/DentalCareDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Juan;initial catalog=DentalCareDB;integrated security=True;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>