<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ConcreteRepositories" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<appSettings>
		<add key="FileLogPath" value="/Logs/"/>
		<add key="FileErrorLogName" value="Errors.log"/>
		<add key="FileWarningLogName" value="Errors.log"/>
		<add key="FileInfoLogName" value="Info.log"/>
		<add key="BackendType" value="1"/>
		<add key="LanguagePath" value="I18n/language."/>
		<add key="LogLevel" value="2"/>
		<add key="AccessesHidrationLvl" value="3"/>
	</appSettings>

	<ConcreteRepositories>
    <add key="AppUserRepository" value="AppUserDao"/>
    <add key="RolRepository" value="RolDao"/>
		<add key="PermisoRepository" value="PermisoDao"/>
		<add key="LoggerRepository" value="LoggerDao"/>
		<add key="UserRolRepository" value="UserRolDao"/>
		<add key="UserPermisoRepository" value="UserPermisoDao"/>
		<add key="RolRolRepository" value="RolRolDao"/>
		<add key="RolPermisoRepository" value="RolPermisoDao"/>
		<add key="DocTypeRepository" value="DocTypeDao"/>
	</ConcreteRepositories>

	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=MTZNB-0065;Initial Catalog=FroggyLogistics;Integrated Security=True;Trust Server Certificate=True" />
		<add name="ServicesSqlConnection" connectionString="Data Source=MTZNB-0065;Initial Catalog=Services;Integrated Security=True;Trust Server Certificate=True" />
	</connectionStrings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>